---
layout: default
---
<script>
    $(document).ready(function () {
        
        $('.i-toggle-view').on( 'click', expandCollapse );

        function expandCollapse (evt) {

            var panel = $(evt.currentTarget);
            if ( panel.hasClass('i-collapsed') ) {
                panel.removeClass('i-collapsed');
            } else {
                panel.addClass('i-collapsed');
            }
        }

        $(window).on('hashchange', function() {
            // allow temporary highlighting of hash target
            $(window.location.hash).addClass('hash-focus');
            setTimeout( function () {
                $(window.location.hash).removeClass('hash-focus');
            }, 1000);
        });


    });
</script>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-8">

            {% if site.author.intro %}
                <section id="intro">
                    <div class="intro-block">
                        {% if site.author.intro.description %}
                            <p class="intro-body">
                                <span class="intro-body-first-line">
                                    {{ site.author.intro.firstline }}
                                </span>
                                {{ site.author.intro.description }}
                            </p>
                        {% endif %}
                    </div>
                </section>
            {% endif %}

            {% if site.author.workSamples %}
                <section id="code-highlights">
                    <h3 class="title with-icon"><span class="fa fa-code cat-title"></span>Code Highlights</h3>
                    <ul class="timeline">
                        {% for sample in site.author.workSamples %}
                            <li class="timeline-inverted" {% if sample.id %}id="work-sample-{{ sample.id }}"{% endif %}>
                                {% if sample.icon %}
                                    {% if sample.icon == "live" %}
                                        <div class="timeline-badge info fa fa-mouse-pointer"> </div>
                                    {% endif %}
                                    {% if sample.icon == "github" %}
                                        <div class="timeline-badge info fa fa-github"> </div>
                                    {% endif %}
                                {% endif %}
                                <div class="timeline-panel grid-block i-toggle-view {% if sample.collapsed %}i-collapsed{% endif %}">
                                    <div class="timeline-heading">
                                        {% if sample.title %}
                                            <h4 class="timeline-title">{{ sample.title }}</h4>
                                        {% endif %}
                                        {% if sample.link %}
                                            <p class="text-muted">
                                                <small>
                                                    <a href="{{ sample.link }}" target="_blank">
                                                        {{ sample.link }}
                                                        <span class="fa fa-external-link"> </span>
                                                    </a>
                                                </small>        
                                            </p>
                                        {% endif %}
                                        {% if sample.technologies %}
                                            <p class="text-muted i-preserve">
                                                <small>
                                                    {{ sample.technologies }}
                                                </small>
                                            </p>
                                        {% endif %}
                                    </div>
                                    <div class="timeline-body">
                                        {% if sample.description %}
                                            <p>{{ sample.description }}</p>
                                        {% endif %}
                                        {% if sample.features %}
                                            <ul>
                                                {% for feature in sample.features %}
                                                    {% if feature.text %}
                                                        <li>{{ feature.text }}</li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </section>
            {% endif %}

            {% if site.author.workHistory %}
                <section id="work-history">
                    <h3 class="title with-icon"><span class="fa fa-briefcase cat-title"></span>Work History</h3>
                    <ul class="timeline">
                        {% for work in site.author.workHistory %}
                            <li {% if work.id %}id="work-history-{{ work.id }}"{% endif %} class="timeline-inverted work-{{ work.name }}">
                                {% if work.started %}
                                    <div class="timeline-badge info">{{ work.started }}</div>
                                {% endif %}
                                <div class="timeline-panel grid-block i-toggle-view {% if work.collapsed %}i-collapsed{% endif %}">
                                    <div class="timeline-heading">
                                        {% if work.company %}
                                            <h4 class="timeline-title">{{ work.company }} </h4>
                                        {% endif %}
                                        {% if work.title %}
                                            <p class="text-muted">
                                                <small >
                                                    {{ work.title }}
                                                </small>
                                            </p>
                                        {% endif %}
                                        {% if work.technologies %}
                                            <p class="text-muted i-preserve">
                                                <small>
                                                    {{ work.technologies }}
                                                </small>
                                            </p>
                                        {% endif %}
                                        {% if work.duration or work.location %}
                                            <p class="text-muted">
                                                <small >
                                                    {% if work.duration %}
                                                        <i class="fa fa-calendar"></i> {{ work.duration }} &nbsp;|&nbsp;
                                                    {% endif %}
                                                    {% if work.location %}
                                                        <i class="fa fa-map-marker"></i>  {{ work.location }}
                                                    {% endif %}
                                                </small>
                                            </p>
                                        {% endif %}
                                    </div>
                                    <div class="timeline-body">
                                        {% if work.description %}
                                            <p>{{ work.description }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </section>
            {% endif %}

            {% if site.author.educationHistory %}
                <section id="education">
                    <h3 class="title with-icon"><span class="fa fa-graduation-cap cat-title"></span>Education History</h3>
                    <ul class="timeline">
                        {% for education in site.author.educationHistory %}
                            <li {% if education.id %}id="education-history-{{ education.id }}"{% endif %}class="timeline-inverted">
                                {% if education.completed %}
                                    <div class="timeline-badge info">{{ education.completed }}</div>
                                {% endif %}
                                <div class="timeline-panel grid-block i-toggle-view {% if education.collapsed %}i-collapsed{% endif %}">
                                    <div class="timeline-heading">
                                        {% if education.organization %}
                                            <h4 class="timeline-title">{{ education.organization }}</h4>
                                        {% endif %}
                                        {% if education.degree or education.major %}
                                            <p class="text-muted">
                                                <small>
                                                    {% if education.degree %}
                                                        {{ education.degree }}{% endif %}{% if education.degree and education.major %}, {% endif %}
                                                    {% if education.major %}
                                                        {{ education.major }}
                                                    {% endif %}
                                                </small>
                                            </p>
                                        {% endif %}
                                        {% if education.duration or education.location %}
                                            <p class="text-muted i-preserve">
                                                <small>
                                                    {% if education.duration %}
                                                        <i class="fa fa-calendar"></i> {{ education.duration }} &nbsp;|&nbsp;
                                                    {% endif %}
                                                    {% if education.location %}
                                                        <i class="fa fa-map-marker"></i>  {{ education.location }}
                                                    {% endif %}
                                                </small>
                                            </p>
                                        {% endif %}
                                    </div>
                                    <div class="timeline-body">
                                        {% if education.description %}
                                            <p>{{ education.description }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </section>
            {% endif %}

            {% if site.author.activities %}
                <section id="activities">
                    <h3 class="title with-icon"><span class="fa fa-male cat-title"></span>Activities</h3>
                    <ul class="timeline">
                        {% for activity in site.author.activities %}
                            <li {% if activity.id %}id="activity-{{ activity.id }}"{% endif %} class="timeline-inverted">
                                {% if activity.icon %}
                                    <div class="timeline-badge info fa fa-{{ activity.icon }}"></div>
                                {% else %}
                                    <div class="timeline-badge info">{{ activity.started }}</div>
                                {% endif %}
                                <div class="timeline-panel grid-block i-toggle-view {% if activity.collapsed %}i-collapsed{% endif %}">
                                    <div class="timeline-heading">
                                        {% if activity.title %}
                                            <h4 class="timeline-title">{{ activity.title }} </h4>
                                        {% endif %}
                                        {% if activity.duration or activity.location %}
                                            <p class="text-muted i-preserve">
                                                <small>
                                                    {% if activity.duration %}
                                                        <i class="fa fa-calendar"></i> {{ activity.duration }} &nbsp;|&nbsp;
                                                    {% endif %}
                                                    {% if activity.location %}
                                                        <i class="fa fa-map-marker"></i>  {{ activity.location }}
                                                    {% endif %}
                                                </small>
                                            </p>
                                        {% endif %}
                                    </div>
                                    <div class="timeline-body">
                                        {% if activity.description %}
                                            <p>{{ activity.description }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </section>
            {% endif %}

        </div>
        <aside class="sidebar col-md-4">
            {% if site.author.stackoverflow or site.author.programmingSkills %}
                <section id="programming-skills">
                    <h3 class="title with-icon"><span class="fa fa-code cat-title"></span> Programming Skills</h3>
                    {% if site.author.stackoverflow %}
                    <div class="grid-block">
                    <p><a href="//stackoverflow.com/users/{{ site.author.stackoverflow }}"><img src="//stackoverflow.com/users/flair/{{ site.author.stackoverflow }}.png"></a></p>
                    <ul class="list-unstyled list-stackoverflow" id="stackoverflow_questions_and_answers"></ul>
                    <script type="text/javascript">
                    $(function () {
                        var api_url_user = "//api.stackexchange.com/2.2/users/{{ site.author.stackoverflow }}/answers?pagesize=5&order=desc&sort=votes&site=stackoverflow";
                        var api_url_format_questions = "//api.stackexchange.com/2.2/questions/%question_ids%?site=stackoverflow";

                        $.get(api_url_user, function (data_user) {
                        if (!data_user) {
                            return;
                        }
                        if (!data_user.items) {
                            return;
                        }
                        if (!data_user.items.length) {
                            return;
                        }

                        var question_ids = [];
                        var complex_questions = {};
                        $.each(data_user.items, function (index, item) {
                            if (!item) {
                            return;
                            }
                            if (!item.question_id) {
                            return;
                            }
                            if (!item.answer_id) {
                            return;
                            }
                            if (!item.score) {
                            return;
                            }

                            complex_questions[item.question_id] = {
                            "question_id": item.question_id,
                            "answer_id": item.answer_id,
                            "score": humanize_score(item.score),
                            "is_accepted": item.is_accepted
                            };
                            question_ids.push(item.question_id);
                        });

                        var api_url_questions = api_url_format_questions.replace('%question_ids%', question_ids.join(';'));

                        $.get(api_url_questions, function (data_questions) {
                            if (!data_questions) {
                            return;
                            }
                            if (!data_questions.items) {
                            return;
                            }
                            if (!data_questions.items.length) {
                            return;
                            }

                            $.each(data_questions.items, function (index, item) {
                            if (!item) {
                                return;
                            }
                            if (!item.question_id) {
                                return;
                            }
                            var complex_question = complex_questions[item.question_id];
                            if (!complex_question) {
                                return;
                            }

                            complex_question.title = item.title;
                            complex_question.link = item.link;
                            });

                            render_complex_questions(complex_questions);
                        });
                        });
                    });
                    function humanize_score(score) {
                        if (!score) {
                        return;
                        }

                        if (score / 1000 > 1) {
                        return (score / 1000) + "k";
                        } else {
                        return score;
                        }
                    }
                    function render_complex_questions(complex_questions) {
                        if (!complex_questions) {
                        return;
                        }

                        complex_questions = $.map(complex_questions, function (complex_question) {
                        return [complex_question];
                        });
                        complex_questions.sort(function (a, b) {
                        return b.score - a.score;
                        });

                        $stackoverflow_questions_and_answers = $('#stackoverflow_questions_and_answers');

                        $.each(complex_questions, function (index, complex_question) {
                        var link = complex_question.link + '#answer-' + complex_question.answer_id;
                        var $li = $('<li />');
                        $('<span />')
                            .addClass('badge')
                            .addClass(complex_question.is_accepted ? 'progress-bar-success' : '')
                            .text(complex_question.score)
                            .appendTo($li);
                        $('<a />')
                            .attr('href', link)
                            .attr('target', '_blank')
                            .text(complex_question.title)
                            .appendTo($li);
                        $li.appendTo($stackoverflow_questions_and_answers);
                        });
                    }
                    </script>
                    </div>
                    {% endif %}
                    {% if site.author.programmingSkills %}
                    <div class="grid-block">
                        <ul class="list-unstyled list-skills">
                            {% for programmingSkill in site.author.programmingSkills %}
                                <li>
                                    {% if programmingSkill.name %}
                                        <span class="caption-skill">{{ programmingSkill.name }}</span>
                                    {% endif %}
                                    {% if programmingSkill.percentage %}
                                        <div class="progress">
                                            <div class="progress-bar" style="width: {{ programmingSkill.percentage }}">
                                                <span>{{ programmingSkill.usefulness }} </span>
                                            </div>
                                        </div>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </section>
            {% endif %}
            {% if site.author.opensource %}
                <section id="github">
                    <h3 class="title with-icon"><span class="fa fa-code cat-title"></span> Github</h3>
                    <div class="grid-block">
                        <p>{{ opensource.description }}</p>
                        <ul class="list-unstyled">
                            {% for repo in site.author.opensource.repos %}
                                <li class="github-repo">
                                    {% if repo.name %}
                                        <span class="github-name">
                                            {% if repo.link %}<a href="{{ repo.link }}" target="_BLANK">{% endif %}
                                                {{ repo.name }}
                                            {% if repo.link %}<i class="fa fa-external-link"></i></a>{% endif %}
                                        </span>
                                    {% endif %}
                                    {% if repo.description %}
                                        <span class="github-description">
                                            {{ repo.description }}
                                        </span>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </section>
            {% endif %}
            {% if site.author.languages %}
                <section id="languages">
                    <div class="deviter"></div>
                    <h3 class="title with-icon"><span class="fa fa-globe cat-title"></span> Language Skills</h3>
                    <div class="grid-block">
                        <ul class="list-unstyled list-strip">
                            {% for language in site.author.languages %}
                                {% if language.name %}
                                    {% if language.proficiency %}
                                        <li>
                                            <i class="fa fa-check"></i> <span class="badge badge-green badge-right-float">{{ language.proficiency }}</span>{{ language.name }}
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </section>
            {% endif %}
            {% if false %}
            <div class="deviter"></div>
                <h3 class="title with-icon"><span class="fa fa-location-arrow cat-title"></span> Location</h3>
                <div class="grid-block">
                    <iframe src="https://www.google.com/maps/embed/v1/place?q={{ site.author.address }}&key=AIzaSyClEWLh20lxrQBFR7omuuVESviszPxONyk" width="100%" height="100%" frameborder="0" style="border:0"></iframe>
                </div>
            {% endif %}
        </aside>
    </div>
</div>
