<div class="footer">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-12">
                 <ul class="footer-items">
                     <li><span title="evan.dana" onclick="this.innerHTML=' ' + this.title + '@gmail.com';"> Click for email</span></li>
                     <li><a href="#"> Download Résumé </a></li>
                     <li>Copyright &copy; 2016 {{ site.author.name }} - All rights reserved.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
