<footer class="footer">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-12">
                 <ul class="footer-items">
                     <li><span title="evan.writes.code" onclick="this.innerHTML=' ' + this.title + '@gmail.com';"> Click for email</span></li>
                    {% if site.data.config.resumelink %}
                        <li>
                            <a href="{{ site.data.config.resumelink }}" class="btn btn-flat"><i class="icon-file icon-white"></i> Download Résumé </a>    
                        </li>
                    {% endif %}
                     <li>Copyright &copy; {{(new Date()).getUTCFullYear()}} {{ site.data.config.author.name }} - All rights reserved.</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
