<header class="header">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="author-intro col-sm-4">
                <img src="{{ site.favicon | prepend: site.baseurl }}" title="Avatar" alt="My Avatar">
                <h4 class="author-name">{{ site.author.name }}</h4>
                <p class="author-title">{{ site.author.title }}</p>
                <p class="author-address muted">{{ site.author.address }}</p>
                <div class="clearfix"></div>
            </div>
            <div class="social-link-container col-sm-4 visible-md-block visible-lg-block visible-sm-block">
                <p class="social-link-block"><i class="fa fa-envelope-o fa-fw"></i><span title="evan.writes.code"
   onclick="this.innerHTML=' ' + this.title + '@gmail.com';"> click for email</span></p>
                <p class="social-link-block"><i class="fa fa-github fa-fw"></i><a href="//github.com/{{ site.author.github }}" target="_blank">  @{{ site.author.github }} </a></p>
                <p class="social-link-block"><i class="fa fa-linkedin-square fa-fw"></i> <a href="//linkedin.com/in/{{ site.author.linkedin }}" target="_blank"> {{ site.author.linkedin }} </a></p>
                <!--<p class="social-link-block"><i class="fa fa-twitter fa-fw"></i> <a href="//twitter.com/{{ site.author.twitter }}" target="_blank">  @{{ site.author.twitter }} </a></p>-->
            </div>
            <div class="export-assets col-sm-4 visible-md-block visible-lg-block">
                {% if site.resumelink %}
                    <a href="{{ site.resumelink }}" class="btn btn-flat" target="_BLANK"><i class="icon-file icon-white"></i> Download Résumé </a>
                {% endif %}
                <div class"toggle-single-page switch-wrapper" style="position: relative;">
                    <span class="switch-label">Print single page</span>
                    <label class="switch">
                        <input type="checkbox" onclick="togglePrintSinglePage()" >
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</header>
