<header class="header">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="author-intro col-sm-4 col-xs-6">
                <h4 class="author-name">{{ site.data.config.author.name }}</h4>
                <p class="author-title">{{ site.data.config.author.title }}</p>
                <p class="author-address muted">{{ site.data.config.author.address }}</p>
                <div class="clearfix"></div>
            </div>
            <div class="social-link-container col-sm-4 col-xs-3">
                <p class="social-link-block"><i class="far fa-envelope fa-fw"></i><span title="evan.writes.code"
                    > {{ 'evan.dana' }}{{ '@gmail.com' }} </span></p>
                <p class="social-link-block"><i class="fab fa-github fa-fw"></i><a href="//github.com/{{ site.data.config.author.github }}" target="_blank">  @{{ site.data.config.author.github }} </a></p>
                <p class="social-link-block"><i class="fab fa-linkedin fa-fw"></i> <a href="//linkedin.com/in/{{ site.data.config.author.linkedin }}" target="_blank"> {{ site.data.config.author.linkedin }} </a></p>
                <p class="social-link-block header-website-link"><i class="fas fa-globe fa-fw"></i><a href="//evandana.com" target="_blank">  evandana.com </a></p>
            </div>
        </div>
    </div>
</header>
