body {
    background-image: none;
    background: #f6f6f6;
}

.timeline > li > .timeline-badge {
    font-size: 1em;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: -66px;
    top: 16px;
}
/* change icon size only for badge */
.timeline-badge.fa:before {
    font-size: 1.3em;
}

.title {
    padding-bottom: 0;
    border-bottom: none;
    font-size: 19px;
}

.title .cat-title {
    background: #5bc0de;
    padding: 10px 7px; 
    min-width: auto;
    min-height: auto;
    width: 37px;
    height: 37px;
    z-index: 1;
    left: 2px;
    font-size: 18px;
    top: -7px;
}

.title .cat-title:after {
    border-top: 10px solid #5bc0de;
}

.timeline-badge.info {
    background: #c7c7c7 !important;
}

/* panel left arrow, main */
.timeline > li > .timeline-panel:after {
    top: 20px;
}
/* panel left arrow, shadow */
.timeline > li > .timeline-panel:before {
    top: 21px;
}
.timeline-panel {
    margin: 0;
}

section {
    margin-bottom: 5em;
}
@media (max-width: 990px) and (min-width: 768px) {
    margin-bottom: 5em;
}

/* special treatment for intro */
#intro {
    margin-bottom: 5em;
    margin-top: 1em;
}
.intro-block {
}
.intro-body {
    font-size: 22px;
    line-height: 1.4em;
}
.intro-body-first-line {
    text-transform: uppercase;
}
#intro a {
    /*color: #23527c;*/
    text-decoration:none;
    padding-bottom:0;
    border-bottom: 1px solid #c7c7c7;
}
#intro a:hover {
    color: #5bc0de;
    border-bottom: 1px solid #5bc0de;
}

/* header */
.header {
    background-image: none;
    background: #f7f7f7;
}
.author-name {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 8px;
}
.author-title {
    margin-bottom: 2px;
}
.social-link-block {
    margin-bottom: 8px;
}

/* fork me */
.ribbon {
    display: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.ribbon.red {
    background: #5bc0de;
}
.ribbon a {
    text-shadow: none;
}

/* download button */
.btn-flat {
    background: none;
    color: black;
    border: 1px solid #c7c7c7;
    padding-right: 20px;
    box-shadow: 0 1px 0 #c7c7c7;
 }
.btn-flat:active, .btn-flat:hover, .btn-flat:focus, .btn-flat:visited {
    color: black;
 }
 .btn-flat:hover {
     bottom: -1px;
 }

.fa-map-marker, .fa-calendar {
    padding-right: .5em;
}

 h4 {
     font-size: 16px;
 }

/* sidebar */
aside .grid-block {
    background: #f0f0f0;
    border: none;
}
aside .title .cat-title {
    background: #c7c7c7;
}
aside .title .cat-title::after {
    border-top: 10px solid #c7c7c7;
}
.github-name {
    text-transform: uppercase;
}
.github-name a:hover {
    color: #63A4B5;
}
.github-name .fa {
    font-size: .8em;
    padding-left: .5em;
}
.github-description {
    display: block;
    padding-top: 0.5em;
    padding-bottom: 2em;
}
.github-repo:last-of-type .github-description {
    padding-bottom: 0;
}

.github-name--year {
    padding-left: 0.5em;
    color: #777;
}


/* programming skills */
.list-skills li .progress .progress-bar span {
    background: #999;
    letter-spacing: 1px;
}
.list-skills li .progress .progress-bar span:after {
    border-bottom: 5px solid #999;
}


/* footer */
.footer {
    background: rgba(0, 0, 0, 0.2);
}
.footer-items {
    text-decoration: none;
}
.footer-items li {
    display: inline;
    padding: 0 .5em;
    color: #333;
}
.footer-items li:after {
    content: '|';
    padding-left: 1em;
}
.footer-items li:last-of-type:after {
    content: '';
}



/* --------------------- */



.page-content {
    max-width: 1400px;
    margin:0 auto;
}

section {
    margin-bottom: 5em;
}

.list-strip li:nth-child(even) {
    background: #63A4B5;
}

.timeline {
    padding-bottom: 0;
}

.timeline:before {
    left: 20px;
}

.timeline-panel {
    width: 100%;
}

.i-toggle-view {
    cursor: pointer;
}

.timeline-body a {
    padding-bottom: 1px;
    border-bottom: 1px solid #63A4B5;
}
.timeline-body a:hover {
    text-decoration: none;
    color: #63A4B5;
}

.timeline-heading {
    float: left;
    max-width: 18em;
}

.timeline-heading a .fa,
.timeline-body a .fa {
    padding-left: .4em;
    font-size: .8em;
}
.timeline-body a {
    margin-right: .25em;
}

.timeline-body {
    margin-left: 20em;
}

.timeline-body ul {
    margin-top: 1em;
    padding-left: 0;
}

.timeline-body li {
    margin-left: 1.2em;
    padding-bottom: .5em;
}

.grid-block:before, .grid-block:after {
    display: none;
}


/* --------------------------------
 * RESPONSIVE
 * --------------------------------*/

@media (max-width: 1199px) and (min-width: 991px) {
    .timeline-heading {
        float: none;
        max-width:100%;
    }
    .timeline-body {
        margin-left: 0;
    }
}
@media (max-width: 990px) and (min-width: 768px) {
    section {
        margin-bottom: 3em;
    }
}
@media (max-width: 767px) and (min-width: 676px) {
    .timeline-heading {
        float: none;
        max-width:100%;
    }
    .timeline-body {
        margin-left: 0;
    }
}
@media (max-width: 675px) and (min-width: 601px) {
    .timeline-heading {
        float: none;
        max-width:100%;
    }
    .timeline-body {
        margin-left: 0;
    }
}
@media (max-width: 600px) {
    .timeline-heading {
        float: none;
        max-width:100%;
    }
    .timeline-body {
        margin-left: 0;
    }
}


/* --------------------------------
 * INTERACTIONS
 * --------------------------------*/


/* highlight item on hash change (not just click) */
li.timeline-inverted {
  -webkit-transition: all 1s linear;
  -o-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -ms-transition: all 1s linear;
  -kthtml-transition: all 1s linear;
  transition: all 1s linear;
}
.hash-focus {
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -kthtml-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-box-shadow: 0px 0px 25px 2px #5bc0de;
  -moz-box-shadow: 0px 0px 25px 2px #5bc0de;
  box-shadow: 0px 0px 25px 2px #5bc0de;
}

/* timeline-panel isn't needed directly below, but it helps for consistency*/
.timeline-panel.grid-block.i-toggle-view:hover {
    background: rgba(255, 255, 255, 0.6);
}
.timeline-panel.grid-block.i-toggle-view.i-collapsed:hover {
    background: rgba(255, 255, 255, 0.6);
}
.timeline-panel.i-collapsed {
    background: rgba(255, 255, 255, 0.2);
}
.timeline-panel.i-collapsed::after {
    content: 'a';
}
.timeline-panel.i-collapsed .timeline-body {
    display: none;
}
.timeline-panel.i-collapsed .timeline-heading {
    max-width: 100%;
    width: 100%;
}
.timeline-panel.i-collapsed .timeline-heading h4 {
    float: left;
    margin-bottom: 0;
}
.timeline-panel.i-collapsed .timeline-heading .text-muted {
    display: none;
}
.timeline-panel.i-collapsed .timeline-heading .text-muted.i-preserve {
    display: block;
    float: right;
    margin-bottom: 0;
}

/* -------------------------------- */
/* Toggle switch */
/* -------------------------------- */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 2.2em;
    height: 1.2em;
}

/* Hide default HTML checkbox */
.switch input {
    display:none;
}

.switch-label {
    margin-left: 3em;
    position: absolute;
    top: -.17em;
    color: #777;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1em;
    width: 1em;
    left: .1em;
    bottom: .1em;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #5bc0de;
}

input:focus + .slider {
    box-shadow: 0 0 1px #5bc0de;
}

input:checked + .slider:before {
    -webkit-transform: translateX(1em);
    -ms-transform: translateX(1em);
    transform: translateX(1em);
}

/* Rounded sliders */
.slider.round {
    border-radius: 1.5em;
}

.slider.round:before {
    border-radius: 50%;
}

/* end toggle switch -------------- */


@media print { 

    body {
        page-break-before: avoid;
        width: 100%;
        height: 100%;
        zoom: 50%;
    }


    /* ------------------- */
    /* Global */
    /* ------------------- */

    body.print-single-page {
        page-break-before: avoid;
        width: 100%;
        height: 100%;
        zoom: 100%;

        width: 750px;
        max-width: 750px;
        font-size: 10px;
    }

    .page-content {
        max-width: 100%;
    }


    /* ------------------- */
    /* Header */
    /* ------------------- */

    .print-single-page header.header {
        padding-top: 0;
        padding-bottom: 1em;
        margin-bottom: 1em;
    }

    .print-single-page header > .container-fluid {
        padding: 0 0 5px 0;
        margin: 0 -5px;
    }

    .fa.fa-external-link, .timeline-body a .fa.fa-external-link {
        display: none;
    }

    a, #intro a, .timeline-body a {
        text-decoration: none;
        border-bottom: none;
    }

    .author-intro {
        width: 20em;
        float: left;
    }
    
    .print-single-page .author-intro {
        width: 20%;
    }

    #intro {
        margin-bottom: 2em;
    }

    .print-single-page #intro {
        position: absolute;
        top: -459px;
        /* right: -181px; */
        right: 0;
        font-size: 10px;
        width: 436px;
        margin: 0;
    }

    .author-name {
        margin-top: 0;
    }

    .author-intro img {
        display: none;
    }

    .intro-body {
        font-size: 12px;
    }

    .social-link-block:first-of-type span {
        display: none;
    }
    .social-link-block:first-of-type::after {
        content: " " "evan." /* don't spam me */  "writes.code" /* don't spam me */ "@" "gmail" /* don't spam me */  ".com";
    }

    .social-link-container {
        padding: 0;
        display: block !important;
        float: left;
    }

    .timeline-heading a[href]:after, .header a[href]:after {
        content: none !important;
    }


    /* ------------------- */
    /* Sections */
    /* ------------------- */

    main > section {
        margin-bottom: 2em;
    }
    .print-single-page main > section {
        margin-bottom: 1em;
    }

    .title.with-icon {
        margin: 6px 0 10px -21px;
        padding-left: 38px;
    }

    .print-single-page .timeline-panel.i-collapsed .timeline-heading .text-muted.i-preserve {
        margin-left: 35em;
        float: none;
    }

    .print-single-page .page-content > .wrapper > .container-fluid {
        padding: 0;
        margin: 0 -5px;
    }


    /* ------------------- */
    /* Timeline */
    /* ------------------- */

    .timeline > li > .timeline-badge {
        display: none;
    }

    .timeline > li > .timeline-panel {
        border: none;
        padding: 1em 0 0 0;
    }

    .timeline-heading {
        float: left;
        max-width: 18em;
    }
    .timeline-body {
        margin-left: 20em;
    }

    .timeline > li, .timeline > li > .timeline-inverted {
        padding: 0;
        margin: 0;
    }

    .timeline > li.timeline-inverted > .timeline-panel:before {
        display: none;
    }

    .title .cat-title:after {
        display: none;
    }

    .timeline {
        padding: 0;
    }


    /* ------------------- */
    /* Work History */
    /* ------------------- */

    .timeline-panel.i-collapsed .timeline-heading .work-history-dates {
        display: block;
        position: absolute;
        left: 20em;
        top: 10px;
    }

    .print-single-page #workHistory {
        position: absolute;
        top: -368px;
    }

    .print-single-page #workHistory::after {
        clear: both;
        float: none;
        content: "";
        display: block;
    }

    .print-single-page #workHistory .timeline-inverted {
        width: 500px;
        float: left;
        /* border: 1px solid #dfd; */
    }

    .print-single-page #workHistory .timeline-inverted.collapsed {
        width: 200px;
        float: right;
    }
    .print-single-page #workHistory .timeline-inverted.collapsed .timeline-body {
        margin-left: 0;
    }
    .print-single-page #workHistory .timeline-inverted.collapsed .timeline-heading .timeline-title, 
        .print-single-page #workHistory .timeline-inverted.collapsed .timeline-heading .text-muted,
        .print-single-page #workHistory .timeline-inverted.collapsed .timeline-heading .work-history-dates,
    .print-single-page #education .timeline-inverted.collapsed .timeline-heading .timeline-title, 
        .print-single-page #education .timeline-inverted.collapsed .timeline-heading .text-muted,
        .print-single-page #education .timeline-inverted.collapsed .timeline-heading .work-history-dates {
        display: block;
        position: static;
        top: '';
        left: '';
        width: 100%;
        margin-left: 0;
    }
    
    .print-single-page #workHistory .timeline-inverted:nth-child(3) {
        margin-top: -127px;
    }
    
    .print-single-page #workHistory .timeline-inverted:nth-child(4) {
        margin-top: -24px;
    }

    .print-single-page #workHistory .timeline-inverted:nth-child(n+6) {
        display: none;
    }


    /* ------------------- */
    /* Code Highlights */
    /* ------------------- */

    .print-single-page #codeHighlights {
        width: 485px;
        margin-top: 372px;
    }


    /* ------------------- */
    /* Education */
    /* ------------------- */

    .print-single-page #education {
        position: absolute;
        top: -9px;
        right: 0;
        width: 200px;
    }

    .print-single-page #education .timeline-body {
        display: none;
    }


    /* ------------------- */
    /* Activities */
    /* ------------------- */

    .print-single-page #activities {
        position: absolute;
        top: 267px;
        right: 0;
        width: 200px;
    }

    .print-single-page #activities .timeline-body {
        display: none;
    }


    /* ------------------- */
    /* Github */
    /* ------------------- */

    .print-single-page #programmingSkills {
        display: none;
    }

    #programmingSkills .grid-block {
        margin: 0;
        padding: 10px 0 0 0;
    }

    #programmingSkills .list-skills li .progress {
        margin: 0 0 0 20em;
        padding-bottom: 0;
    }

    #programmingSkills .list-skills li .progress .progress-bar {
        text-align: left;
        width: 100%;
        margin-top: -2.1em;
    }

    #programmingSkills .list-skills li .progress .progress-bar span::after {
        display: none;
    }
    
    .list-skills li .progress .progress-bar span {
        left: 0;
        text-transform: uppercase
    }


    /* ------------------- */
    /* Github */
    /* ------------------- */

    #github .grid-block {
        margin: 0;
        padding: 10px 0 0 0;
    }

    .print-single-page aside {
        display: none;
    }


    /* ------------------- */
    /* Footer */
    /* ------------------- */

    .print-single-page footer {
        display: none;
    }



    footer .footer-items li:first-of-type span {
        display: none;
    }
    footer .footer-items li:first-of-type::after {
        content: " " "evan." /* don't spam me */  "writes.code" /* don't spam me */ "@" "gmail" /* don't spam me */  ".com";
    }

}